@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

header{
    padding: 20px 40px;
}

button{
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    color: #fff;
    background-color: #17BBEF;
    border-radius: 5px;
    border: none;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 1rem;
    
}

.nav-links a{
    color: #BBBBBB;
    font-weight: 600;
}

.nav-links a.active{
    color: #17BBEF;
}

.register a{
    width: 150px;
    height: 50px;
    padding: 15px 20px;
    color: #fff;
    background-color: #17BBEF;
    border-radius: 5px;
}


.description{
    text-align: center;
    padding-block: 100px;

}

.description p{
    color: #979797;
    
}

.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    padding-inline: 40px;
}

.first-row .inquiry h3{
    color: #ACD9DC;
    font-weight: 600;
    padding-bottom: 1rem;
}

.first-row div{
    padding-bottom: 2rem;
}

.inquiry form{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

}
.inquiry form span{
    font-weight: 700;
    padding-right: 1rem;
}

.doctor-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.search-box h3{
    padding-bottom: 1rem;
}

.search-box form{
    display: flex;

}

.search-box button{
    overflow: hidden;
    background: url(images/search-icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: -999px;
    width: 40px;
    background-color: #17BBEF;
    height: 60px;
    
    padding: 20px;

}

.search-box input{
    height: 60px;
    width: 300px;
    background-color: #F7F7F8;
    padding: 15px;
    border: none;
    position: relative;
}



.search-box input::placeholder{
    color: rgba(151, 151, 151, 1);
    
}

/*quote*/

.quote{
    background: radial-gradient(rgba(31, 43, 108, 0.5), rgba(31, 43, 108, 0.4)),  url(images/background-quote.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.quote p{
    
    width: 500px;
    padding-bottom: 2rem;
    

}

.quote .name{
    border-top: 1px solid #17BBEF;
    width: 200px;
    
}



/* get device*/

.get-device{
    padding: 20px 40px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    
}

.get-device span{
    color: #17BBEF;
}

.get-device h3{
    color: #1B3C74;
    font-weight: 700;
    font-size: 40px;

    text-align: center;

}

.get-device h4{
    text-align: center;
}

.get-device form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;

}

.get-device input{
    height: 40px;
    width: 300px;
    border: none;
    
}

.get-device input::placeholder{
    color: #B4B4BE;

}

.get-device .mobile{
    display: flex;
    gap: 3rem;
}

.store{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    cursor: pointer;
}

/*footer */
footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 80px;
    background-color: #17BBEF;
    color: #fff;
    gap: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
    font-size: 16px;

    
}

footer .vitalink p{
    padding-bottom: 1rem;
    width: 300px;
    line-height: 25px;
    
}

.departments,
.quick-links{
    line-height: 40px;
}


.blog-post h5{
    color: black;
    padding-top: 2rem;
}


.blog-post p{
    width: 200px;
    padding-top: 1rem;
}

footer .copyright{
    text-align: center;
}