/*Landing Page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 6%;
  }
  
  .logo {
    cursor: pointer;
  }

  nav ul li a.active {
    color: #17BBEF;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #bbbbbb;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #17BBEF;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: #17BBEF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #17BBEF;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
 
  section {
    min-height: 100vh;
    padding: 6rem 7% 2rem;
  }

  .home-txt .home-content {
    max-width: 44rem;
  }

  .home-content h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 3.5rem;
  }

  .home-content p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    padding: .6rem 3rem;
    background-color: #17BBEF;
    border-radius: .3rem;
    color: #fff;
    border: .2rem solid transparent;
    transition: .5s ease;
    text-decoration: none;
  }

  .btn:hover {
    background: transparent;
    color: #17BBEF;
    border-color: #17BBEF;
  }

  .home-txt .hero-img-div {
    overflow: hidden;
    pointer-events: none;
}

.home-txt .hero-img-div .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(4%); /*shifts the image to the right with lesser figures*/
    margin-top: 8.7%;
    width: 93%;
}

.hero-img img {
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

  /* -----Jambotron----- */
  .jambotron {
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    text-align: center;
    position: relative;
    left: 50%; /* centralises the box*/
    transform: translateX(-50%); /* this is to translate along the X-axis to bring the box back halfway so that it can be at the dead centre */
    background-color: #17BBEF;
    color: #fff;
    border-radius: 5px;
    margin-top: 10%;
}

.jambotron .jambotron-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    padding: 20px 32px;
}

.jambotron-col p {
    text-align: left;
    margin-left: 9%;
    margin-top: 5%;
}

#hrs {
    margin-right: 23%;
}

#rpm {
    margin-left: 2%;
}

/* --- Services Section --- */
.services {
    margin: 20px 0;
}

#services-p {
    display: flex;
    justify-content: flex-end;
}

.s-row {
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.s-col {
    flex-basis: 24%; /* adjusted the space between boxes */
    border-radius: 10px;
    padding: 20px 12px;
}

#s1 {
    background-color: #FEEFEB;
}

#s2 {
    background-color: #D1F1FC;
}
#s3 {
    background-color: #F1F5E9;
}

#s4 {
    background-color: #E9F7F8;
}